.maincontainer {
  width: 660px;
  height: 702px;
}

.menu {
  height: 38px;
  width: 658px;
  background: lightgrey;
  border: 1px solid grey;
}

.reset {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: darkgrey;
}

.board {
  width: 660px;
  height: 660px;
}

.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: lightgrey;
  border: 1px solid darkgrey;
  vertical-align: top;
  text-align: center;
}

div.unselected {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: lightgrey;
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}
